.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1565c0; /* Blue color */
  color: white;
  padding: 10px 20px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-link {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 16px;
}

.nav-link:hover {
  text-decoration: underline;
}
